@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.homer{
    position: flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 110vh;  
}
.homer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: url("../../assets/Empresa.jpg") no-repeat;
    background-size: cover;
    z-index: -1;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 700px;
    width: 100%; 
    position: absolute;
    left: 15%;
}
.container{
    min-height: 60vh;
    justify-content:left;
    display:flex;
    flex-shrink: 1;
    flex-grow: 1;
}
.button {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    width: 22%;
    height: 9%;
    background: rgba(255, 255, 255, 0.3);
    color: #2a2a2a;
    box-shadow: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.5em 1.1em;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}
.button:hover {
    border-color: #000000;
}
.button:focus,
.button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
.button .seta {
    position: absolute;
    padding: 10px;
    box-shadow: 2px -2px 0 1px #000 inset;
    border: solid transparent;
    border-width: 0 0 1px 1px;
    transform: rotate(225deg);
    
}
.container h1{
    font-size:100px;
    font-weight: 620;
    color: #2a2a2a;
    right: 10%;
    line-height: 1.1
}

.container h2{
    position: relative;
    font-size:40px;
    font-weight: 500;
    left: 25%;
    top: 5%;
    color: #2a2a2a;
}

